<div class="d-flex justify-content-center align-items-center" id="hero-img1">
  <div class="overlay">
    <h1 class="hero-img-h1">Hero Image With Overlay</h1>
    <p class="hero-img-text">full width image with HTML&CSS</p>
    <button class="btn btn-danger btn-lg square-btn2" type="submit">
      256-Xxx-xxXx
    </button>
  </div>
</div>
<div>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi veritatis
    vel perferendis minus deserunt, eius, fugit id illo odit quibusdam pariatur.
    Sunt ipsa beatae nesciunt quibusdam. Iusto odit accusamus quas! Eveniet
    eligendi perferendis fuga sunt blanditiis incidunt quia vero sapiente natus
    maiores officia nemo placeat aut minus porro, qui et repudiandae expedita
    voluptatibus voluptatum voluptatem vitae quae, rerum consectetur? Iure? Quia
    quisquam, sit quam repudiandae voluptas consectetur reiciendis fugit a modi
    ab incidunt quas architecto veritatis, asperiores porro? Commodi voluptatem
    odio ratione provident laborum doloribus aperiam tempore repellendus
    adipisci natus. Similique vero aliquid numquam vitae totam atque autem,
    perspiciatis ipsam obcaecati dicta suscipit aspernatur quos. Natus ratione
    voluptas ducimus in culpa ipsa ex atque praesentium vero et, harum enim
    libero. Accusantium, provident perferendis exercitationem odit consequuntur
    consequatur, nisi molestias dolorum unde aperiam placeat ipsa, quisquam
    veniam cumque qui voluptatem iste sit assumenda optio neque sequi? Commodi
    quisquam iure voluptatem numquam!
  </p>
</div>
