<div class="d-flex justify-content-center align-items-center" id="hero-img1">
  <div class="overlay">
    <span class="hero-img-span1">
      Revitalize Your Ride
      <br />
      with Expert Mobile
      <br />
      Detailing Services
    </span>
    <span class="hero-img-span2">Because Your Car Deserves the Best!</span>
    <span class="hero-btns">
      <button class="btn btn-danger btn-lg square-btn2" type="submit">
        256-Xxx-xxXx
      </button>
      <button class="btn btn-danger btn-lg square-btn2" type="submit">
        Free Estimate
      </button>
    </span>
  </div>
</div>
<div class="section-2-layout">
  <div class="layout">
    <div class="container text-center" id="welcome">
      <div class="row">
        <div class="col">
          <h4>Welcome To</h4>
          <h2 class="company-name-section2">Precise Detail</h2>
          <p class="section2-p">
            <span class="section2-span1"
              >Precise Detail provides professional mobile detailing to those
              within a 50 mile radius of Huntsville, AL.</span
            >
            <br />
            <span class="section2-span2">
              We will handle everything from upholstery cleaning, ceramic
              coating, car washing, and much more. Reach out to us today to get
              started!
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="divider-container" align="center">
    <div
      class="divider"
      style="width: 12%; background-color: rgba(159, 11, 11, 1); height: 3px"
    ></div>
  </div>
</div>
<div class="grid">
  <div class="grid2">
    <div class="container-photos">
      <div class="img-container1">
        <img src="../../assets/images/Mzda-Col-1.png" alt="Red Mazda" />
        <div class="text-block">
          <h3>Exterior Wash and Wax</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt omnis,
            laboriosam reiciendis quaerat nam magnam sit exercitationem veniam
            rerum illo at eveniet accusamus deleniti odio dolores optio, ut
            necessitatibus eos. Ullam fugit repudiandae earum sapiente nesciunt,
            totam alias porro iure, dolor unde quo ab hic voluptatibus dolores
            in enim nisi mollitia doloremque architecto. Quis quia ipsum dolorem
            quam tempora voluptatem!
          </p>
        </div>
      </div>
      <div class="img-container2">
        <img src="../../assets/images/inside-car.png" alt="Car Interior" />
        <div class="text-block">
          <h3>Interior Deep Clean</h3>
          <p>
            Unlocking the secret to pristine interiors has long been a
            challenge. Conventional cleaning methods merely scratch the surface,
            providing short-lived results. However, with our meticulous interior
            cleaning service, we delve deep to restore and maintain your car's
            interior, ensuring lasting cleanliness and comfort.
          </p>
        </div>
      </div>
      <div class="img-container3">
        <img src="../../assets/images/Blue-Truck.png" alt="Blue Ford" />
        <div class="text-block">
          <h3>Ceramic Coating Application</h3>
          <p>
            Until now, achieving a comprehensive solution that simultaneously
            safeguards, enhances shine, and minimizes maintenance for cars has
            remained elusive. Traditional methods like waxing and compounding
            offer only temporary surface restoration. However, enduring car
            protection coupled with a lasting shine is uniquely achievable
            through the application of Ceramic Coating.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section3">
  <div class="section3-div-inside">
    <h1>HI YO</h1>
    <span><img src="" alt="" /></span>
    <span><img src="" alt="" /></span>
    <span><img src="" alt="" /></span>
  </div>
</div>
