<div class="d-flex justify-content-center align-items-center" id="hero-img1">
  <div class="overlay">
    <span class="hero-img-span1">
      Revitalize Your Ride
      <br />
      with Expert Mobile
      <br />
      Detailing Services
    </span>
    <span class="hero-img-span2">Because Your Car Deserves the Best!</span>
    <span class="hero-btns">
      <button class="btn btn-danger btn-lg square-btn2" type="submit">
        256-Xxx-xxXx
      </button>
      <button class="btn btn-danger btn-lg square-btn2" type="submit">
        Free Estimate
      </button>
    </span>
  </div>
</div>
<div class="section-2-layout">
  <div class="layout">
    <div class="container text-center" id="welcome">
      <div class="row">
        <div class="col">
          <h4>Welcome To</h4>
          <h2 class="company-name-section2">Precise Detail</h2>
          <p class="section2-p">
            <span class="section2-span1"
              >Precise Detail provides professional mobile detailing to those
              within a 50 mile radius of Huntsville, AL.</span
            >
            <br />
            <span class="section2-span2">
              We will handle everything from upholstery cleaning, ceramic
              coating, car washing, and much more. Reach out to us today to get
              started!
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="divider-container" align="center">
    <div
      class="divider"
      style="width: 12%; background-color: rgba(159, 11, 11, 1); height: 3px"
    ></div>
  </div>
</div>
<div class="grid">
  <div class="grid2">
    <div class="container-photos">
      <div class="img-container1">
        <img src="../../assets/images/Mzda-Col-1.png" alt="Red Mazda" />
        <div class="text-block">
          <h3>Exterior Wash & Wax</h3>
          <p class="text-block-p">
            Elevate your car's exterior with our unparalleled Exterior Wash &
            Wax service. While conventional cleaning methods may superficially
            address dirt and grime, our meticulous approach penetrates deeper,
            restoring your vehicle's shine and protecting its surface with a
            long-lasting wax finish. Experience a showroom-worthy gleam that
            stands the test of time, ensuring your car maintains its allure on
            every journey.
          </p>
        </div>
      </div>
      <div class="img-container2">
        <img src="../../assets/images/inside-car.png" alt="Car Interior" />
        <div class="text-block">
          <h3>Interior Deep Clean</h3>
          <p class="text-block-p">
            Revitalize your car's interior with our transformative Interior Deep
            Clean service. While ordinary cleaning methods offer only
            surface-level solutions, our meticulous approach penetrates deep
            into every nook and cranny, removing stubborn stains and lingering
            odors. Experience a renewed sense of cleanliness and comfort as we
            restore your car's interior to its pristine condition, ensuring a
            driving environment that feels brand new.
          </p>
        </div>
      </div>
      <div class="img-container3">
        <img src="../../assets/images/Blue-Truck.png" alt="Blue Ford" />
        <div class="text-block">
          <h3>Ceramic Coating Application</h3>
          <p class="text-block-p">
            Transform your car's interior with our cutting-edge Ceramic Coating
            Application. Unlike traditional treatments that merely mask
            imperfections, our advanced coating penetrates deep into every
            surface, forming a protective barrier against stains, spills, and
            wear. Experience unparalleled durability and a showroom-worthy
            finish that lasts, preserving your car's interior beauty for years
            to come.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section3">
  <div class="section3-div-inside">
    <h1>Place Holder</h1>
    <span
      ><img
        src="../../assets/images/InteriorCar2.jpg"
        height="10%"
        width="100%"
        alt="Ram truck interior"
    /></span>
  </div>
</div>
