.spaced-link {
    margin-right: 20px;
    font-size: 18px;
  }

  .spaced-link:hover {
    color: #9F0B0B; /* Change the color when hovering over the links */
  }

  .logo-img{
    height: 20vh;
    width: 20vh;
  }
